<div class="main-container">
    <div class="top-container">
        <h2>
            NASZ BLOG
        </h2>
        <img src="../../assets/images/podkreslnik.png">
        <p>
            Będziemy tutaj informować was o przyszłych wydarzeniach i naszych planach 
        </p>
    </div>
      <div class="posts-container">
        <button class="left-arrow-button" [style.opacity]="currentPostIndex === 0 ? '0.3' : '1'" (click)="prevPost()">
          <img id="left-arrow" src="../../assets/icons/arrow.png" alt="Previous">
        </button>
        <div class="post" *ngIf="this.posts.length > 0">
          <p>{{ this.posts[currentPostIndex].content }}</p>
          <p id="date">{{ this.posts[currentPostIndex].date }}</p>
        </div>
        <button class="right-arrow-button" [style.opacity]="currentPostIndex === (this.posts.length - 1) ? '0.3' : '1'" (click)="nextPost()">
          <img id="right-arrow" src="../../assets/icons/arrow.png" alt="Next">
        </button>
      </div>      
</div>
