@import "../../variables";

.main-container {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 10px;
    align-items: center;

}
.top-container {
    padding-top: 20px;
    padding-bottom: 100px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
        top: -50px;
        position: absolute;
        width: 600px;
    }
    p {
        width: 400px;
        top: 140px;
        position: absolute;
        text-align: center;
    }
}
.posts-container {
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 30rem;
    background: $secondary_pink;
    align-items: center;
    justify-content: space-around;
    align-content: center;
    justify-self: center;
    box-shadow: 4px 2px 8px $primary_grey;
}

.post {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    p {
        overflow-wrap: break-word; 
        max-width: 100%;
    }
}

button {
    background-color: $secondary_pink;
    border-radius: 0;
    border: 0;
    box-shadow: none;
    img {
        height: 80px;
        transition: all 0.2s ease; 
    }
}
button:hover {
    img {
        height: 90px;
    }
}

#left-arrow {
    transform: rotate(270deg);
}

#right-arrow {
    transform: rotate(90deg);
}
#date {
    font-style: italic;
    font-weight: 300;
}

