@import 'variables';

a {
  font-family: $primary_font;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: $secondary_grey;
  text-decoration: none;
  padding: 10px;
}
a:hover{
    font-style: bold;
    font-weight: 500;
    font-size: 18px;
    color: $primary_grey;
    transition: all 0.2s ease; 
  }

p {
    font-family: $secondary_font;
    color: $primary_grey;
    font-weight: 300;
    font-size: 16px;

}

h1 {
    font-family: $secondary_font;
    color:$primary_grey;
    font-weight: 300;
    font-size: 66px;

}

h1 {
  font-family: $secondary_font;
  color:$primary_grey;
  font-weight: 600;
  font-size: 66px;

}

h2 {
  font-family: $primary_font;
  color:$primary_grey;
  font-weight: 400;
  font-size: 50px;
}

body {
  margin: 0
}

button {
  width: 120px;
  height: 70px;
  background-color: $primary_baby_blue;
  font-size: 16px;
  font-family: $primary_font;
  font-weight: 400;
  color: $primary_grey;
  border-radius: 10px;
  border: 1px solid $secondary_grey; 
  box-shadow: 2px 1px 8px $primary_grey; 
  transition: all 0.2s ease; 
}
button:hover {
  font-size: 18px;
  border: 2px solid $secondary_grey; 
  box-shadow: 6px 4px 10px $secondary_grey; 
  transition: all 0.2s ease; 
}

textarea {
  border-radius: 10px;
  border: 2px solid $secondary_grey; 
  width: 1000px;
  height: 400px;
  font-family: $primary_font;
  font-style: italic;
  font-size: 16px;
  p {
    overflow-wrap: break-word;
    max-width: 100%; 
    font-family: $primary_font;
    color: $primary_grey;
    font-weight: 300;
    font-size: 16px;
  }
}