@import './assets/fonts/fonts';

$primary_font: 'Montserrat', sans-serif;
$secondary_font: 'Playfair Display', serif;

$primary_grey: #423D37;
$secondary_grey: #808080;

$primary_pink: #9680AF;
$secondary_pink: #D7C9E6;
