<div class="contact">
    <div class="bubel">
        <div class="bubel-container">
            <div class="text-wraper">
                <h1>Napisz do nas!</h1>
                <p>
                    Zachęcamy was do obserwowania naszych mediów społecznościowych, gdzie głównie udostępniamy nasze postępy, konkursy, pomysły i osiągnięcia. <br>
                    Jeśli chcielibyście czymś się z nami podzielić, przedstawić zamysł lub o coś zapytać możecie napisać do nas na Instagramie lub napisać maila pod adresem <span class="highlight">linguall.zzt.contact@gmail.com</span>. <br>
                    Dziękujemy za wsparcie!
                </p>
            </div>
            <div class="media-links">
                <a href="https://www.instagram.com/linguall_?igsh=N2I4ajM3dDkydGVv&utm_source=qr">
                  <img src="../../assets/icons/Instagram.png" alt="instagram icon">
                </a>
                <a href="https://www.tiktok.com/@linguall?_t=8k7wDYJv4qH&_r=1">
                    <img src="../../assets/icons/Tiktok.png" alt="tiktok icon">
                </a>
                <a href="https://www.facebook.com/profile.php?id=61553702550109">
                    <img src="../../assets/icons/Facebook.png" alt="facebook icon">
                </a>
              </div>
        </div>
        <img class="bubel-img" src="../../assets/images/bubel.png">
    </div>
    <div class="signings">
        <img src="../../assets/images/podpisy.png" alt="podpisy">
    </div>
</div>

  
